altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
asgiref==3.8.1
beautifulsoup4==4.10.0
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.1.7
Django==3.2.2
django-cors-headers==4.3.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.3.1
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
idna==3.7
joblib==1.4.2
langdetect==1.0.9
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
nltk==3.6.5
PyJWT==2.8.0
pytz==2024.1
regex==2024.4.28
requests==2.26.0
six @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
soupsieve==2.5
sqlparse==0.5.0
tqdm==4.66.4
typing_extensions==4.11.0
urllib3==1.26.18
